@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .webvtt-player {
        /* hug the left-hand side of the screen */
        /* @apply text-purple-500; */
    }

    .track {
        /* flex: 6;
        height: 90vh;
        padding: 15px;
        overflow-y: scroll; */

        /* implement the above styling with tailwind */

        /* tailwind flex-CUSTOMNUMBER */
        /* @apply h-96 p-[15px] overflow-y-scroll flex-[6]; */
        /* @apply text-orange-200; /* this works lol */
    }

}

/* Player */
.webvtt-player .media {
    width: 100%;
    border: thin solid #ccc;
    margin-right: auto;
}

.webvtt-player audio {
    width: 100%;
    background-color: #ccc;
}

.webvtt-player audio::-webkit-media-controls-panel {
    background-color: #ccc;
}

.webvtt-player .tracks {
    display: flex;
}

.webvtt-player .controls {
    padding: 5px;
    text-align: center;
    vertical-align: text-top;
    background-color: #ccc;
}

.webvtt-player .seekBar {
    vertical-align: middle;
    width: 70%;
}

/* Track */

.webvtt-player .track {
    flex: 6;
    height: 90vh;
    padding: 10px;
    overflow-y: scroll;
}

/* TranscriptLine */

.webvtt-player .active {
    /* background-color: #eee; */
    /* light border */
    @apply bg-gray-200 border-gray-600 border-2 border-opacity-10 border-x-0;
}

.webvtt-player .match {
    /* background-color: lightyellow; */
    @apply bg-gray-200;
}

.webvtt-player .line {
    padding: 5px;
    cursor: pointer;
}

.webvtt-player .time {
    width: 110px;
    float: left;
    font-size: 10pt;
    line-height: 14pt;
}

.webvtt-player .text {
    margin-left: 110px;
}


/* Metadatapoint */

.webvtt-player .point {
    padding: 5px;
}

.webvtt-player .time {
    width: 110px;
    float: left;
    font-size: 10pt;
    line-height: 14pt;
    cursor: pointer;
}

.webvtt-player .text {
    margin-left: 110px;
}

.webvtt-player .title {
    font-weight: bold;
    font-size: inherit;
    margin: 0;
    cursor: pointer;
}

.webvtt-player .titleAlt {
    font-style: italic;
    font-weight: normal;
    font-size: inherit;
    margin: 0;
}

.webvtt-player .field {
    margin-top: 5px;
}

.webvtt-player .field span {
    font-style: italic;
}


/* Search */
.search {
    border-top: thin solid #ccc;
    padding: 5px 5px 5px 5px;
    font-size: 14pt;
    margin-top: 5px;
}

.search .container {
    border: thin solid #ccc;
}

.search input {
    font-size: 12pt;
    border: none;
    width: 90%;
}

.search input:focus {
    outline: none;
}

.search .icon {
    padding-left: 5px;
    padding-right: 5px;
}